@import '/css/normalize.css'

body section {
    background: white;
    width: 70%;
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

body section h1 {
    margin: 0;
    padding: 1rem 0 0.5rem;
    font-size: 2rem;
}

body {
    font-family: sans-serif;
    background: lightgray;
    padding: 0;
    margin: 0;
}

body section figure {
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

body section figure img {
    margin: 0 auto;
    width: 100%;
}

body section p {
    line-height: 1.6;
} 