/*header h1 {
    background:red;
    color: white;
}

.titulo {
    background: rebeccapurple;
}

#cabeceira-principal {
    background: lightblue;
}*/

.titulo {
    background: blue;
}

.principal {
    background: green;
}